{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div>
                {{ field.label_tag }}
            </div>
            <div>
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit">Save</button>
    </form>

{% endblock %}